site_name: Cyrene Update Notes
site_url: https://dreafun.github.io/cyreneupdate/
repo_url: https://github.com/Dreafun/cyreneupdate
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
theme:
  name: material
  language: ru
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Светлая тема
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Тёмная тема
  features:
    - navigation.instant
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight

plugins:
  - search

nav:
  - Главная: index.md
  - Обновления:
      - Список: updates/index.md
